body {
    background-image: url("https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=961&q=80");
    background-size: 200%;
    background-color: black;
}

body.opposite {
    background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");    
    background-color: white;
}

.container-lg {
    margin: 7% auto;
    padding: 5% 10%;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    width: 50%;
    opacity: .8;
    box-shadow: 2px 6px 10px #444343;
}

.container-lg.opposite {
    background-color: black;
    color: white;
}

i {
    padding: 20px;
}

p {
    font-size: .95rem;
}

#myCheckbox {
    display: block;
    margin: 12% auto 8px;
    width: 1.5rem;
    height: 1.5rem;
}

a {
    line-height: 3;
}

.invisible {
    visibility: hidden;
}